body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-image: url('./index-pictures/body-background.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #333;
}

.header {
  color: #000000be;
  padding: 70px;
  text-align: right;
}

.header-content {
  background: url('./cold-drinks-pictures/cold-drinks-header.jpeg') no-repeat center center/cover;
  padding: 70px;
  background-repeat: no-repeat;
}

.welcoming-nav {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  padding: 10px 20px;
}

.welcoming-nav a {
  color: #ffffffab;
  text-decoration: none;
  font-weight: bold;
}

.welcoming-nav a:hover {
  color: #fff;
}



.header-content h1 {
  font-family: 'Berkshire Swash', sans-serif;
  font-size: 50px;
  margin-bottom: 10px;
}

.header-content p {
  font-size: 18px;
}

.drinks-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 50px 20px;
  margin: 0 100px;

}

.drink-card {
  width: 250px;
  text-align: center;
  background-color: #642d001f;
  border-radius: 15px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.drink-card:hover {
  transform: translateY(-5px);
}


.drink-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.drink-card p {
  margin-top: 12px;
  font-size: 17px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

/* Responsive */
@media (max-width: 768px) {
  .drink-card {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .drink-card {
    width: 100%;
  }

  .header {
    padding: 40px 20px;
  }
}