body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  background-image: url('./index-pictures/body-background.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  background: url('./index-pictures/index-header.jpg') no-repeat center center/cover;
  padding: 10px;
  text-align: left;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 100px;
}