body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fffbe6;
    color: #333;
  }
  
  .header {
    background: url('header.jpg')no-repeat center center/cover;
    color: #ffffffab;
    padding: 70px;
    text-align: left;
    /*position: relative;*/
  }

  a {
    color: #ffffffab;
    text-decoration: none;
    margin-right: 10px;
  }
  
  a:hover{
    color: #4259c3;
  }
  
  .header-content h1 {
    font-family: 'Berkshire Swash', sans-serif;
    font-size: 2cm;
  }
  
  .header-content p {
    font-size: 25px;
    font-family: 'Poiret One', sans-serif;
    color: white;

  }
  
  .menu-section {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px 20px;
    margin-top: -100px;
  }
  
  .menu-item {
    text-align: center;
  }
  

  
  .menu-image img {
    max-width: 170px;
    max-height: 170px;
    border-radius: 100%;
  }
  
  .menu-item p {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 500;

  }
  
  .footer {
    text-align: center;
    padding: 20px;
    font-size: 1.1rem;
  }
  